{% extends 'base.html' %} {% block body %} {% load static %}

<div class="col-3-of-5">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div id = 'c1' class="carousel-item active" data-bs-interval="4000">
             
          </div>
          <div id = 'c2' class="carousel-item" data-bs-interval="4000">
            
          </div>
          <div id = 'c3' class="carousel-item" data-bs-interval="4000">
          
          </div>
      </div>
  </div>

  <div id = 'ph1' class="phones">
      <h4 class="heading">Apple</h4>
      
  </div>

  <div id = 'ph2' class="phones">
      <h4 class="heading">Samsung</h4>
      
  </div>

  <div id = 'ph3' class="phones">
      <h4 class="heading">Google</h4>
      
  </div>
</div>
{% endblock body %}
